<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
<script>
function ContactsCtrl( $scope ) {
	$scope.people = [
		{name:'Manjunath',phones:['555-1212']},
		{name:'Hariprasad',phones:['555-2323','555-7575']},
		{name:'Divya',phones:['555-3434']}
	];
}
</script>
</head>
<body ng-controller="ContactsCtrl">
<div ng-repeat="person in people">
{{person.name}}
(
<a href="#" ng-click="mobile=true" ng-hide="mobile">Hide</a>
<a href="#" ng-click="mobile=false" ng-show="mobile">Show</a>
)
<div style="margin-left:50px;" ng-hide="mobile">
	<div ng-repeat="phone in person.phones">{{phone}}</div>
</div>
</div>
</body>
</html>
